<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.StockMapper">
    <!-- 기본 select 사용안함 -->
    <select id="select" parameterType="Integer" resultType="stock">
        SELECT * FROM stock WHERE product_id=#{product_id}
    </select>
    <!-- product_id로 조회시 변경등록일자가 있는 List<Stock> 반환 -->
    <select id="selectchangehistory" parameterType="Integer" resultType="stock">
        SELECT * FROM stock WHERE product_id=#{product_id}
    </select>
    <!-- 변경등록일자가 있는 List<Stock> 반환 -->
    <select id="selectall" parameterType="Integer" resultType="stock">
        SELECT * FROM stock
    </select>
    <!-- 상품 전체 최종 재고 현황 -->
    <select id="selectfinalstock" resultType="stock">
    -- product가 stock 보다 중심인 비즈니스 일 때 (현재 erd)
    select t.*
    from (select p.product_id, p.product_name, s.product_costprice, p.product_price, s.product_amount, ca.cart_quantity
                 , case when s.product_costprice is null then -ca.cart_quantity
                      else s.product_expectedamount end as product_expectedamount, s.stock_updateday, s.stock_no
                  , rank()over (partition by p.product_id order by s.stock_no desc) as stock_rank
          from product p left join stock s on p.product_id=s.product_id
                         left join (
              SELECT product_id, SUM(cart_quantity) AS cart_quantity
              FROM cart
              GROUP BY product_id
          ) ca ON p.product_id = ca.product_id
         ) t
    where t.stock_rank = 1
    -- stock이 product보다 중심인 비즈니스일 때
--         select t.*
--         from (select s.product_id, p.product_name, s.product_costprice, p.product_price, s.product_amount, s.product_expectedamount, s.stock_updateday, s.stock_no
--                    , rank()over (partition by s.product_id order by s.stock_no desc) as stock_rank
--               from stock s left join product p on s.product_id=p.product_id ) t
--         where t.stock_rank=1
    </select>
    <!-- 장바구니 갯수로 예상 재고 계산 업데이트 -->
    <update id="updateexpectedamount">
        UPDATE Stock st
        SET st.product_expectedamount = st.product_amount - COALESCE(
                (
                    SELECT cg.cart_quantity
                    FROM (
                             SELECT c.product_id, SUM(c.cart_quantity) AS cart_quantity
                             FROM cart c
                             GROUP BY c.product_id
                         ) cg
                    WHERE cg.product_id = st.product_id -- 조인을 사용하여 상품 ID를 매칭
                ), 0)
        WHERE (st.stock_no, st.product_id) IN (
            SELECT t.stock_no, t.product_id
            FROM (
                     SELECT s.stock_no, s.product_id, RANK() OVER (PARTITION BY s.product_id ORDER BY s.stock_no DESC) AS stock_rank
                     FROM stock s) t
            WHERE t.stock_rank = 1
        )
    </update>
    <!-- update 겸용으로 쓸 예정 -->
    <insert id="insert" parameterType="stock">
        INSERT INTO Stock (product_costprice, product_amount, product_expectedamount, product_id, stock_updateday, stock_no)
        VALUES (#{product_costprice}, #{product_amount}, #{product_expectedamount}, #{product_id}, SYSDATE, stock_seq.NEXTVAL)
    </insert>
    <delete id="delete" parameterType="Integer">
        DELETE FROM stock WHERE product_id=#{product_id}
    </delete>
    <!-- 재고가 1개 미만이거나 입고 처리를 안한 것 출력 -->
    <!-- product가 stock 보다 중심인 비즈니스 일 때 (현재 erd) -->
    <select id="getlowstock" resultType="stock">
        select t.*
        from (select p.product_id, p.product_name, s.product_costprice, p.product_price, s.product_amount, s.product_expectedamount, s.stock_updateday, s.stock_no
        , rank()over (partition by p.product_id order by s.stock_no desc) as stock_rank
        from product p left join stock s on p.product_id=s.product_id ) t
        where t.stock_rank=1 and (t.product_expectedamount is null or t.product_expectedamount &lt; 1)
    </select>
</mapper>