<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.UserMapper">
    <select id="select" parameterType="String" resultType="user">
        SELECT * FROM shopuser WHERE user_id=#{user_id}
    </select>
    <select id="selectall" resultType="user">
        SELECT * FROM shopuser
    </select>
    <insert id="insert" parameterType="user">
        INSERT INTO shopuser VALUES (#{user_id}, #{user_name}, #{user_gender}, #{user_pwd}, #{user_contact}, #{user_address}, SYSDATE, TO_DATE(#{user_birthday},'YYYY-MM-DD'), '1')
    </insert>
    <update id="update" parameterType="user">
        UPDATE shopuser SET user_name=#{user_name}, user_gender=#{user_gender}, user_contact=#{user_contact},
                             user_address=#{user_address}, user_birthday=#{user_birthday} WHERE user_id=#{user_id}
    </update>
    <update id="updatepwd" parameterType="user">
        UPDATE shopuser SET user_pwd=#{user_pwd} WHERE user_id=#{user_id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM shopuser WHERE user_id=#{user_id}
    </delete>
    <select id="getallusercart" resultType="user">
        select s.user_id, s.user_name, s.user_contact, c.product_id, p.product_name, p.product_price, p.product_regdate,
               c.cart_quantity, c.cart_date, c.cart_status, row_number() over(partition by s.user_id order by p.product_regdate asc) as rank
        from shopuser s left join cart c on s.user_id = c.user_id
        left join product p on c.product_id = p.product_id
        where s.admin_check='0'
        and c.user_id is not null
    </select>
</mapper>